body {
    background-color: rgb(221, 239, 243);
}

.app-examples{

    gap: 10px;
    padding: 4px 8px;
}

.app-examples nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.app-examples button{
    padding: 6px 10px;
}